.nav-item-container{
    background-color: blue;
    border-radius: 10px;
    border-end-end-radius: 0px;
    border-start-end-radius: 0px;
    padding: 5px;
    width: 100%;
    box-shadow: 8px 8px rgba(0, 0, 0, 0.459);
    cursor: pointer;
    overflow: hidden;
    transition: all linear 0.3s;
}
.nav-item-container:hover{
    transform: scale(1.3);
}
.active-nav-item{
    transform: scale(1.3);
}

.nav-item-title{
    font-size: 0.8rem;
}