.carousel-container{
    width: 25vw;
    height: 30vh;
    perspective: 100rem;
    position: absolute;
    top:25vh
}

.carousel{
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: all ease-in-out 1s;
}

.carousel > * {
    position: absolute;
    width: 100%;
}