.carousel-container{
    width: 220px;
    height: 200px;
    perspective: 1000px;
}

.carousel{
    transform-style: preserve-3d;
    animation: rotate 20s linear infinite;
}

.carousel > * {
    position: absolute;
    width: 100%;
    image-rendering: auto;
    box-sizing: border-box;
}

@keyframes rotate{
    0%{
        transform: rotateY(0deg);
    }
    100%{
        transform: rotateY(360deg);
    }
}