.main-container{
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: start;
  font-size: 30px;
  overflow: hidden;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.main-image{
  position: absolute;
  height: 70vh;
  bottom:0;
  inset-inline-start: 0;
  animation: image-grow 2s
}

.main-title{
  margin-top: 50px;
}

@media only screen and (max-width: 760px) {
  .main-image{
    height:8.5vh;  
    top:0;
    inset-inline-start: 45%;
  }

  .main-container{
    margin-top: 60px;
    font-size: 28px;
  }

  .main-title{
    margin-top: unset;
    font-size: 1rem;
  }
}
@keyframes image-grow {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}